In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([["A",1],
                   ["B",2],
                   ["C",3]], columns=["Values", "Number"])

In [3]:
df.values

array([['A', 1],
       ['B', 2],
       ['C', 3]], dtype=object)

In [7]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.columns

Index(['Values', 'Number'], dtype='object')

In [9]:
df["Values"]

0    A
1    B
2    C
Name: Values, dtype: object

In [10]:
df["Number"]

0    1
1    2
2    3
Name: Number, dtype: int64

In [11]:
df

  Values  Number
0      A       1
1      B       2
2      C       3

In [13]:
df.loc[0:1]

  Values  Number
0      A       1
1      B       2

In [14]:
df.loc[0:1,"Values"]

0    A
1    B
Name: Values, dtype: object

In [20]:
df.values == 'A'

array([[ True, False],
       [False, False],
       [False, False]])

In [21]:
df.loc[(df.Values == 'A') & (df.Number > 1), 'Values']

SyntaxError: EOL while scanning string literal (<ipython-input-21-1d3e56e2dd9b>, line 1)